{% extends "layout/appLayout.html" %}
{% block title %} Author Edit {{ author.name }} {% endblock %}

{% block content %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Edit Author</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Edit Author</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/authors-update">
                            <input type="hidden" name="id" value="{{ author.id }}">
                            <div class="form-group">
                                <label class="small mb-1" >Fisrt name :</label>
                                <input class="form-control py-4" name="first_name"type="text" value="{{ author.first_name }}" placeholder="Enter name" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" >Last name :</label>
                                <input class="form-control py-4" name="last_name" type="text" value="{{ author.last_name }}" placeholder="Enter surname" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="country">Country</label>
                                <input class="form-control py-4" name="country" id="country" type="text" value="{{ author.country }}" placeholder="Enter description" />
                            </div>

                            <input class="btn btn-primary"  id="login" value="Edit Author" type="submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>



{% endblock %}