{% extends "layout/appLayout.html" %}

{% block title %}Book Create{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Add Book</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Add Book</h3>
                    </div>

                    <div class="card-body">
                        <form method="post" action="/books-store">
                            <div class="form-group">
                                <label class="small mb-1" >Title:</label>
                                <input class="form-control py-4" name="title"type="text" placeholder="Enter title" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" >ISBN:</label>
                                <input class="form-control py-4" name="isbn" type="text" placeholder="Enter isbn" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" >Category:</label>
                                <select name="category_id">
                                    <option value="">Zgjedh nje kategory</option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>



                            <br> <br>
                            <div id="authors">
                                <div class="form-group">
                                    <label class="small mb-1" for="author1">Author 1</label>
                                    <select class="form-control" name="authors[]" id="author1"required>
                                        <option value="">zgjedh autorin</option>
                                        {% for author in authors %}
                                        <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="button" onclick="createAuthorElement()">Add another author</button>
                            <br> <br>
                            <input class="btn btn-primary"  id="login" value="Create Book"
                                   type="submit"x/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>

<script>
    let author_n = 1
    function createAuthorElement() {
        author_n ++
        let authorElement = document.createElement("div");
        authorElement.innerHTML = '<label class="small mb-1" for="author' + author_n + '">Author ' + author_n + '</label>\n' +
            '                                <select class="form-control" name="authors[]" id="author' + author_n + '" required>\n' +
            '                                    <option value="">zgjedh autorin</option>\n' +
            '                                    {% for author in authors %}\n' +
            '                                    <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}\n' +
            '                                    </option>\n' +
            '                                    {% endfor %}\n' +
            '                                </select>';
        authorElement.setAttribute('class', 'form-group');
        authorsEl = document.getElementById('authors')
        authorsEl.appendChild(authorElement);
    }
</script>
{% endblock %}